*.log
.DS_Store
.cache/
.direnv
bin/
result
result-*

.env
.env.*
.envrc
!.env.example

*.tsbuildinfo
dist/
coverage/
node_modules/
test-results/
test-results-real/
playwright-report/
playwright-report-real/
